.timeline {
  position: relative;
  margin: 2rem 0;
  padding-left: 2rem;
  border-left: 2px solid #ddd;
}

.entry {
  margin-bottom: 2rem;
  position: relative;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: red;
}

.entry::before {
  content: '';
  position: absolute;
  left: -11px;
  top: 5px;
  width: 12px;
  height: 12px;
  background-color: #555;
  border-radius: 50%;
}

.entry .title {
  font-weight: bold;
  margin-bottom: 0.3rem;
  color: #333;
}

.entry .content h3 {
  margin: 0;
}
